---
name: Pre-Commit
on:
  merge_group:
  pull_request:
    branches:
      - main
    types:
      - opened
      - synchronize
      - reopened
  push:
    branches:
      - main
  schedule:
    # Run once a week (see https://crontab.guru)
    - cron: "0 0 * * 0"
  workflow_dispatch:

env:
  GO_VERSION: 1.26.0
  PYTHON_VERSION: 3.13.3
  TASK_VERSION: 3.38.0
  TASK_X_REMOTE_TASKFILES: 1

jobs:
  pre-commit:
    name: Pre-commit
    runs-on: ubuntu-latest
    steps:
      - name: Checkout git repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Setup Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6
        with:
          python-version: ${{ env.PYTHON_VERSION }}

      - name: Install pre-commit
        run: python3 -m pip install pre-commit

      - name: Setup Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6
        with:
          go-version: ${{ env.GO_VERSION }}
          check-latest: true

      - name: Install Go tools
        run: |
          # Install shfmt
          go install mvdan.cc/sh/v3/cmd/shfmt@latest

          # Install goimports
          go install golang.org/x/tools/cmd/goimports@latest

          # Install gocyclo
          go install github.com/fzipp/gocyclo/cmd/gocyclo@latest

          # Install golangci-lint
          curl -sSfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh | sh -s -- -b $(go env GOPATH)/bin

          # Install gocritic
          go install github.com/go-critic/go-critic/cmd/gocritic@latest

          # Add Go bin directory to PATH
          echo "$(go env GOPATH)/bin" >> $GITHUB_PATH

      - name: Install pre-commit
        run: python3 -m pip install pre-commit

      - name: Setup go-task
        run: |
          sh -c "$(curl --location https://taskfile.dev/install.sh)" -- -d -b /usr/local/bin v${{ env.TASK_VERSION }}
          task --version

      - name: Run pre-commit
        run: |
          task -y pre-commit:run-pre-commit
